
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

  *{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  background-color: black;
  color: white;
}
.logo-box{
  margin: auto;
  background-color: palegoldenrod;
  width: 40%;
  height: 25vh;
}
.h-md{
  height: 3em;
}
.mt-sm{
  margin-top: 1.5em;
}
.colum{
  flex-direction: column;
}
.text-logo{ 
  width:0.7rem;
  text-align: center;
  display: inline-block;
  /* align-items: center; */
  /* margin:2px; */
  /* background-color: yellow; */
}
.text-logo:hover{
  cursor:grab;
  background-color: aqua;
}
.color-select{
  width: 3em;
  height: 3em;
  margin: 1em;
  border: 0;
  padding: 0;
}
